<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="testproject.com.gryphon" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MealConfirmationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_meal_confirmation"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".MealConfirmation2Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_meal_confirmation2"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".MealConfirmation3Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_meal_confirmation3"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_profile"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".FavoritesMealsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_favorites_meals"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".FavoritesChefsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_favorites_chefs"
            android:theme="@style/FullscreenTheme" >
        </activity>
    </application>

</manifest>
